<a href="https://colab.research.google.com/github/Cyrill98/Extract-Invoice-PDF-file-to-CSV/blob/main/PDFtoCSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pdfplumber

Collecting pdfplumber
  Downloading pdfplumber-0.5.28.tar.gz (45 kB)
     |████████████████████████████████| 45 kB 2.5 MB/s
Collecting pdfminer.six==20200517
  Downloading pdfminer.six-20200517-py3-none-any.whl (5.6 MB)
     |████████████████████████████████| 5.6 MB 18.6 MB/s
Requirement already satisfied: Pillow>=7.0.0 in /usr/local/lib/python3.7/dist-packages (from pdfplumber) (7.1.2)
Collecting Wand
  Downloading Wand-0.6.6-py2.py3-none-any.whl (138 kB)
     |████████████████████████████████| 138 kB 64.3 MB/s
Collecting pycryptodome
  Downloading pycryptodome-3.10.1-cp35-abi3-manylinux2010_x86_64.whl (1.9 MB)
     |████████████████████████████████| 1.9 MB 49.1 MB/s
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.7/dist-packages (from pdfminer.six==20200517->pdfplumber) (2.4.0)
Requirement already satisfied: chardet in /usr/local/lib/python3.7/dist-packages (from pdfminer.six==20200517->pdfplumber) (3.0.4)
Building wheels for collected packages: pdfplumber
  Building wheel for pdfplumber (setup.py) ... done
  Created wheel for pdfplumber: filename=pdfplumber-0.5.28-py3-none-any.whl size=32240 sha256=2863398a756bc331ffc542c2caf5ecd3b9036e71265d26ad192895bec9e91aa8
  Stored in directory: /root/.cache/pip/wheels/f2/b1/a0/c0a77b756d580f53b3806ae0e0b3ec945a8d05fca1d6e10cc1
Successfully built pdfplumber
Installing collected packages: pycryptodome, Wand, pdfminer.six, pdfplumber
Successfully installed Wand-0.6.6 pdfminer.six-20200517 pdfplumber-0.5.28 pycryptodome-3.10.1

In [3]:
import re

import pdfplumber
import pandas as pd
from collections import namedtuple

In [4]:
file = '/content/Sample Invoice Report.pdf'

In [6]:
Line = namedtuple('Line', 'company_id company_name doctype reference currency voucher inv_date due_date open_amt_tc open_amt_bc current months1 months2 months3')

In [14]:
company_re = re.compile(r'(V\d+) (.*) Phone')
line_re = re.compile(r'\d{2}/\d{2}/\d{4} \d{2}/\d{2}/\d{4}')

In [7]:
lines = []
total_check = 0

In [17]:
with pdfplumber.open(file) as pdf:
  pages = pdf.pages
  for page in pdf.pages:
    text = page.extract_text()
    for line in text.split('\n'):
      comp = company_re.search(line)
      if comp:
        vend_no, vend_name = comp.group(1), comp.group(2)

      elif line.startswith('INVOICES'):
        doctype = 'INVOICE'

      elif line.startswith('CREDITNOTES'):
        doctype = 'CREDITNOTE'
      
      elif line_re.search(line):
        items = line.split()
        lines.append(Line(vend_no, vend_name, doctype, *items))
      
      elif line.startswith('Supplier total'):
        tot = float(line.split()[2].replace(',',''))
        total_check += tot

In [18]:
df = pd.DataFrame(lines)
df.head()

  company_id                    company_name  ... months2 months3
0     V50012                   Company A LTD  ...    0.00  263.52
1     V50012            CARGO SAFETRAVEL LTD  ...    0.00    0.00
2     V50012            CARGO SAFETRAVEL LTD  ...    0.00    0.00
3     V50014            ChaseB REGISTER USDA  ...    0.00    0.00
4     V50015  METALS CHEMICALS GROUP LIMITED  ...    0.00    0.00

[5 rows x 14 columns]

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131 entries, 0 to 130
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   company_id    131 non-null    object
 1   company_name  131 non-null    object
 2   doctype       131 non-null    object
 3   reference     131 non-null    object
 4   currency      131 non-null    object
 5   voucher       131 non-null    object
 6   inv_date      131 non-null    object
 7   due_date      131 non-null    object
 8   open_amt_tc   131 non-null    object
 9   open_amt_bc   131 non-null    object
 10  current       131 non-null    object
 11  months1       131 non-null    object
 12  months2       131 non-null    object
 13  months3       131 non-null    object
dtypes: object(14)
memory usage: 14.5+ KB

In [20]:
df['inv_date'] = pd.to_datetime(df['inv_date'])
df['due_date'] = pd.to_datetime(df['due_date'])

In [22]:
for col in df.columns[-6:]:
  df[col] = df[col].map(lambda x: float(str(x).replace(',', '')))

In [23]:
df['open_amt_bc'].sum()

-129580.73999999999

In [24]:
total_check

-129317.22

In [25]:
df.to_csv('invoice.csv', index = False)